<nav class="main">
  <ul class="main scrollspy">
    <li>
      <a href="#" data-section="me" class="link1 jump-to">
        <%= erb :"icons/_icon_me" %>
        <span>Me</span>
      </a>
    </li>
    <li>
      <a href="#" data-section="projects" class="link2 jump-to">
        <%= erb :"icons/_icon_projects" %>
        <span>Current Projects</span>
      </a>
    </li>
    <li>
      <a href="#" data-section="portfolio" class="link3 jump-to">
        <%= erb :"icons/_icon_portfolio" %>
        <span>Portfolio</span>
      </a>
    </li>
    <li>
      <a href="#" data-section="codepen" class="link4 jump-to">
        <%= erb :"icons/_icon_codepen" %>
        <span>Codepen</span>
      </a>
    </li>
    <li>
      <a href="#" data-section="contact" class="link5 jump-to">
        <%= erb :"icons/_icon_contact" %>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
