<nav class="main">
  <ul class="main">
    <li>
      <a href="#me" class="link1">
        <%= erb :"icons/_icon_me" %>
        <span>Me</span>
      </a>
    </li>
    <li>
      <a href="#projects" class="link2">
        <%= erb :"icons/_icon_projects" %>
        <span>Current Projects</span>
      </a>
    </li>
    <li>
      <a href="#portfolio" class="link3">
        <%= erb :"icons/_icon_portfolio" %>
        <span>Portfolio</span>
      </a>
    </li>
    <li>
      <a href="#codepen" class="link4">
        <%= erb :"icons/_icon_codepen" %>
        <span>Codepen</span>
      </a>
    </li>
    <li>
      <a href="#contact" class="link5">
        <%= erb :"icons/_icon_contact" %>
        <span>Contact</span>
      </a>
    </li>
    <li>
      <a href="http://github.com/fidler2326" target="_blank" class="link6">
        <%= erb :"icons/_icon_github" %>
        <span>Github</span>
      </a>
    </li>
  </ul>
</nav>
