<div class="wrapper">

  <div class="hammer-container">


      <%= erb :"_sidebar" %>
    

    <div class="right">
      <div id="carousel">
        <ul>
          <li class="pane pane1" id="me">
            <%= erb :"_me" %>
          </li>
          <li class="pane pane2 current-projects" id="projects">
            <%= erb :"_projects" %>
          </li>
          <li class="pane pane3" id="portfolio">
            <%= erb :"_portfolio" %>
          </li>
          <li class="pane pane4" id="codepen">
            <%= erb :"_codepen" %>
          </li>
          <li class="pane pane5" id="contact">
            <%= erb :"_contact" %>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
