<div class="wrapper">

  <div class="hammer-container">

    <div class="left">
      <div class="fixed-nav">
        <header>
          <h1>Adam Fidler</h1>
          <h2>Front End Developer</h2>
          <h3>0798 605 7038</h3>
          <h3><a href="mailto:hello@reldif.co.uk">hello@reldif.co.uk</a></h3>
        </header>
        <nav>
          <ul class="main">
            <li>
              <a href="#me" class="link1">
                <%= erb :"icons/_icon_me" %>
                <span>Me</span>
              </a>
            </li>
            <li>
              <a href="#projects" class="link2">
                <%= erb :"icons/_icon_projects" %>
                <span>Current Projects</span>
              </a>
            </li>
            <li>
              <a href="#portfolio" class="link3">
                <%= erb :"icons/_icon_portfolio" %>
                <span>Portfolio</span>
              </a>
            </li>
            <li>
              <a href="#codepen" class="link4">
                <%= erb :"icons/_icon_codepen" %>
                <span>Codepen</span>
              </a>
            </li>
            <li>
              <a href="#contact" class="link5">
                <%= erb :"icons/_icon_contact" %>
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="right">
      <div id="carousel">
        <ul>
          <li class="pane pane1" id="me">
            <!-- Make this a :before on the li -->
            <div class="line"></div>
            <div class="inner">
              <h2>Me</h2>
              <h3>- The cringey awkward bit</h3>
              <p>Front end developer / web designer with over four year's experience working on responsive websites, web apps, ruby on rails, HTML emails, Wordpress websites/blogs, chrome extensions, Phonegap apps, AngularJS, wireframing, designing websites, iOS and Android apps using Photoshop and more recently Sketch.</p>
              <ul class="skills">
                <li>HTML / HTML 5</li>
                <li>Ruby on Rails</li>
                <li>CSS 3 / SASS/SCSS</li>
                <li>Wordpress theming / PHP</li>
                <li>JavaScript / jQuery (including jQuery mobile)</li>
                <li>AngularJS</li>
                <li>Photoshop</li>
                <li>Chrome/Safari Extensions</li>
                <li>Sketch</li>
                <li>API’s/JSON</li>
                <li>Canvas</li>
                <li>Phonegap</li>
                <li>HTML Emails</li>
                <li>Cross browser testing (including IE6)</li>
              </ul>
              <a href="#contact" class="btn-floating me">Get in Touch</a>
            </div>
          </li>

          <li class="pane pane2 current-projects" id="projects">
            <div class="line"></div>
            <div class="inner">
              <h2>Current Projects</h2>
              <h3>- What I'm doing in my spare time</h3>

              <div class="projects-container">
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="https://chrome.google.com/webstore/detail/stack-overflow-counter/mfmnldmhlmedlaeodmdjkiikgjmbpfnl" target="_blank" class="title">Stack Overflow Counter</a>
                    <p class="info">This is something I put together as a bit of fun to see how many times my work colleague and I were visiting stackoverflow.com each day, week and month.</p>
                    <a href="https://chrome.google.com/webstore/detail/stack-overflow-counter/mfmnldmhlmedlaeodmdjkiikgjmbpfnl" target="_blank" class="btn projects">View in Chrome Store <span></span></a>
                  </div>
                </div>
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="https://chrome.google.com/webstore/detail/newtab/likenmggpjdbigpmbmgknmfegnmpfplf" target="_blank" class="title">Another New Tab</a>
                    <p class="info">I know there are hundreds of these in the chrome store already, but I wanted one that did what I wanted and I wanted to learn how to make chrome extensions!</p>
                    <a href="https://chrome.google.com/webstore/detail/newtab/likenmggpjdbigpmbmgknmfegnmpfplf" target="_blank" class="btn projects">View in Chrome Store <span></span></a>
                  </div>
                </div>
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="" target="_blank" class="title">CSS Snippets</a>
                    <p class="info">Currently developing a website with little snippets of code mostly html, css and javascript useful for me to copy and paste into new projects and maybe helpful for others.</p>
                    <a href="" target="_blank" class="btn projects">Coming Soon <span></span></a>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </li>

          <li class="pane pane3" id="portfolio">
            <div class="line"></div>
            <div class="inner">
              <h2>Portfolio</h2>
              <h3>- A few of the websites I've worked on</h3>
              <table>
                <tr>
                  <th>Website</th>
                  <th>Involvement</th>
                </tr>

                <tr>
                  <td class="website"><a href="http://love2race.com/" target="_blank">Love2race.com</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.acornlimited.co.uk/" target="_blank">Acornlimited.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.yourmobileadventure.com/" target="_blank">Yourmobileadventure.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.a-bp.co.uk/" target="_blank">A-bp.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://wortonhall.co.uk/" target="_blank">Wortonhall.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.celestialbeacons.com/" target="_blank">Celestialbeacons.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.kbpentathlonapp.co.uk/" target="_blank">Kbpentathlonapp.co.uk</a></td>
                  <td>
                    Design (Photoshop), Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.barstillwell.com/" target="_blank">Barstillwell.com</a></td>
                  <td>
                    Design (Photoshop), Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://blog.barstillwell.com" target="_blank">Blog.barstillwell.com</a></td>
                  <td>
                    Design (Photshop), Wordpress, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://phobolt.com/" target="_blank">Phobolt.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.cv-library.co.uk/" target="_blank">Cv-library.co.uk</a></td>
                  <td>
                    Design, front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.garganinteriors.com/" target="_blank">Garganinteriors.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.davesell.com/" target="_blank">davesell.com</a></td>
                  <td>
                    Wordpress, Front end.
                  </td>
                </tr>
              </table>
            </div>
          </li>

          <li class="pane pane4" id="codepen">
            <div class="line"></div>
            <div class="inner">
              <h2>Codepen</h2>
              <h3>- Some picks from Codepen (<a href="http://codepen.io/adam2326/" target="_blank">codepen.io/adam2326</a>)</h3>
              <div class="codepen">

                <div class="equalHMRWrap eqWrap">
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/VYMOdx" class="title">Fancy forms</a>
                    <p class="info">Material design style form elements.</p>
                    <a href="http://codepen.io/adam2326/pen/VYMOdx" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/QwQmEX" class="title">Fancy mobile layout</a>
                  <p class="info">Swipe mobile layout using hammer.js</p>
                  <a href="http://codepen.io/adam2326/pen/QwQmEX" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/PwQqLB" class="title">Fancy dropdown menu</a>
                    <p class="info">Animated dropdown menu gmail style!</p>
                    <a href="http://codepen.io/adam2326/pen/PwQqLB" class="btn codepen">View Pen <span></span></a>
                  </div>

                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/raJrbw" class="title">Fancy mobile menu</a>
                    <p class="info">Simple css hamburger menu with animation.</p>
                    <a href="http://codepen.io/adam2326/pen/raJrbw" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/WbdNee" class="title">Fancy Floaty button</a>
                    <p class="info">Floating button / effective call to action.</p>
                    <a href="http://codepen.io/adam2326/pen/WbdNee" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/ucjgx" class="title">CSS 3D Kitchen</a>
                    <p class="info">3d kitchen built with css and image sprite!</p>
                    <a href="http://codepen.io/adam2326/pen/ucjgx" class="btn codepen">View Pen <span></span></a>
                  </div>


                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/EjWjqX" class="title">Button hover animation</a>
                    <p class="info">Simple button hover border animation.</p>
                    <a href="http://codepen.io/adam2326/pen/EjWjqX" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/OVzVqM" class="title">Fancy side menu</a>
                    <p class="info">Sliding menu that appears from behind page.</p>
                    <a href="http://codepen.io/adam2326/pen/OVzVqM" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/oXdxXY" class="title">Fancy checkbox</a>
                    <p class="info">A slightly cooler way to display checkboxes.</p>
                    <a href="http://codepen.io/adam2326/pen/oXdxXY" class="btn codepen">View Pen <span></span></a>
                  </div>

                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/WvdbpP" class="title">Super simple tabs</a>
                    <p class="info">Super simple tabs, only a few lines of jquery.</p>
                    <a href="http://codepen.io/adam2326/pen/WvdbpP" class="btn codepen">View Pen <span></span></a>
                  </div>
                </div>

                <a href="http://codepen.io/adam2326/" target="_blank" class="btn-floating codepen">View More</a>

              </div>
            </div>
          </li>

          <li class="pane pane5" id="contact">
            <div class="line"></div>
            <div class="inner">
              <h2>Contact</h2>
              <h3>- Hi (<a href="mailto:hello@reldif.co.uk">hello@reldif.co.uk</a>)</h3>

              <div class="flex-grid">
                <div class="contact-form">
                  <div id='contact-box' class="group">
                    <div class="span6 clear">
                      <form action="/" method="post">
                        <label for="name">Your Name:</label>
                        <input type="text" name="name" class="span4" placeholder="John Smith...">
                        <label for="email">Your email address:</label>
                        <input type="text" name="email" class="span4" placeholder="email@example.com">
                        <label for="to">Your message:</label>
                        <textarea name="message" cols='30' rows="10"></textarea><br>
                        <button type="submit" class="btn" value="Send">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
                <address>
                  <p>Adam Fidler</p>

                  <p>40 Tarnbrook Way</p>
                  <p>Bracknell</p>
                  <p>Berkshire</p>
                  <p>RG12 0GB</p>

                  <p>0798 605 7038</p>
                </address>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <!-- <footer>
        Codepen / Github icons
      </footer> -->
    </div>
  <!-- End of hammer container -->
  </div>

</div>
